@model IEnumerable<Models.UserModels.BusinessState>


<div style="text-align: center;">


    <img src="@Url.Action("Details", new { ReportType = "BusinessState" })" style="float: left" />

    <img src="@Url.Action("Details", new { ReportType = "BusinessChance" })" style="float: left" />

    <img src="@Url.Action("Details", new { ReportType = "CustomerType" })" style="float: left" />

    <img src="@Url.Action("Details", new { ReportType = "CustomerLevel" })" style="float: left" />
</div>