<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="autoFormsAuthentication" value="false" />
  <add key="SystemName" value="云集管理系统" />
  <add key="DefaultPageSize" value="15" />
  <add key="Copyright" value="© 2010-2014 wjw1.com All rights reserved." />
  <add key="LogValidity" value="30" />
  <add key="AllowedExtension" value=".jpg|.gif|.png|.doc|.docx|.xls|.xlsx|.flv|.rmvb|.zip|.rar|.txt" />
  <add key="SMTPServer" value="smtp.163.com" />
  <add key="SMTPServerUser" value="mvctest@163.com" />
  <add key="SMTPServerUserDisplayName" value="云集管理系统" />
  <add key="SMTPServerPassword" value="mvctest@163" />
  <add key="SMTPServerPort" value="25" />
  <add key="SMTPServerEnableSsl" value="false" />
  <add key="Timer" value="60" />
  <add key="pathIndex" value="pathIndex" />
  <add key="EntityFrameworkCachingEnabled" value="true" />
</appSettings>