<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WCFPublisher.Publisher" behaviorConfiguration="metadataExchange">
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.5.188:8088/MyService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsDualHttpBinding" contract="WCFPublisher.IPublisher"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataExchange">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
