<div>
    @Ajax.ActionLink(lang.Details, "Details", null, new { id = Model }, new AjaxOptions { UpdateTargetId = "Main" })
    @Ajax.ActionLink(lang.Edit, "Edit", null, new { id = Model }, new AjaxOptions { UpdateTargetId = "Main" })
    @Ajax.ActionLink(lang.Delete, "Delete", null, new { id = Model }, new AjaxOptions { UpdateTargetId = "Main", HttpMethod = "Delete", Confirm = "您确定要删除该记录吗？该操作不可恢复！" })
</div>
