@using LanguagePack
<div class="text-center">
    
    <button type="submit" class="btn"><i class="fa fa-check"></i> @lang.Save</button>
   

    
    <a class="btn" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#Main" href="@Url.Action("Index", Model)"> <i class="fa fa-times"></i> @lang.Cancel </a>
</div>
