@using LanguagePack

<div>
    <blockquote class="col-lg-2 ">
        <h3>ÏêÏ¸</h3>
    </blockquote>

    <div class="col-xs-3  pull-right text-right">
        @Html.Partial("Button_Back_List")
    </div>

</div>
<div class="clearfix"></div>

<div>
    @Html.DisplayForModel()
</div>

<div class="block-area text-center">
    @Html.Partial("Button_Back_List")
</div>