<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="EntityFramework" version="6.1.1" targetFramework="net451" />
  <package id="EntityFramework.zh-Hans" version="6.1.1" targetFramework="net451" />
  <package id="Google.GData.AccessControl" version="2.2.0.0" targetFramework="net451" />
  <package id="Google.GData.Calendar" version="2.2.0.0" targetFramework="net451" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net451" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net451" />
</packages>