@using System.Configuration
@using Models.SysModels
@model SysEnterprise
@{
    ViewBag.Title = ConfigurationManager.AppSettings["SystemName"] + "系统初始化";
}

<div class="col-lg-6 col-lg-offset-3">
    <div class="masthead" style=" margin-top:30px;">
        <ul class="nav nav-pills pull-right">
            <li>
                @Html.ActionLink("首页", "Index", "Index", new { area = "" }, null)
            </li>
        </ul>
        <h3 class="muted">@ConfigurationManager.AppSettings["SystemName"]</h3>
    </div>
    <hr>
    <div style="margin-top: 40px;">
        <h1 class=" text-center">注册成功</h1>
        <div style="margin:30px auto; width:600px;">
            @Html.Partial("_alerts")

            用户数量：@Model.MaxUser

            有效期至：@Model.Validity

            系统分配访问地址：<a href="http://@Model.Host">@Model.Host</a>
        </div>
    </div>
    <hr>
</div>
