@using Models.UserModels
@model IEnumerable<Models.UserModels.ProjectTaskReply>

@Html.Partial("Create", new ProjectTaskReply())



@foreach (var item in Model)
{ 
    <blockquote class="block-area">
        <span class="pull-right">
            @if (item.UserId == ViewBag.UserId)
            {
                @Ajax.ActionLink(lang.Delete, "Delete", null, new { item.Id, item.ProjectTaskId }, new AjaxOptions { UpdateTargetId = "ProjectTaskReply", HttpMethod = "Delete", Confirm = "您确定要删除该记录吗？该操作不可恢复！" }, new { @class = "btn btn-danger" })
            }

        </span>
        <p>@item.ProjectTaskReplyObjective</p>
        @if (!string.IsNullOrEmpty(item.FileUrl))
        {
            <div>
                <span class="icon-file"></span>&nbsp;@Html.DisplayFor(a => item.FileUrl)
            </div>
        }
        <small>
            @item.CreatedDate
            用户：@Html.Partial("SysUserDisplay", item.SysUser)
        </small>
    </blockquote>
}
